body {
    padding-top: 60px;
}

.heading-action {
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
    margin-left: 10px;
}

.messages-list .action-link {
    font-style: italic;
}
